/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.container { 
    margin: 0;
    display: flex;
    align-content: center;
}

header {
    margin: 1.5rem 2rem;
}

#logo {
    padding-left: 1rem;
    font-size: 2rem;
    letter-spacing: 0.26rem;
    font-family: 'Lobster', cursive;
}

header .navigation {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

header nav {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}
header nav a{
    margin: 0 1rem;
    text-decoration: none;
    color: black;
}

header .title {
    margin: 3rem 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header .subtitle {
    margin: auto;
    max-width: 50%;
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

header h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

#subtitle {
    max-width: 600px;
    background-color: aqua;
}

.home {
    margin: 1rem 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.home div {
    margin: 0 1rem;
}

.home .article {
    flex-basis: 60%;
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: 80% 0%;
}

.contact-form {
    background-color: #EDF0F4;
    border-radius: 0.4rem;
    padding: 3rem 2rem;
}

.contact-form div {
    margin-bottom: 1rem;
    font-weight: bold;
}

.contact-form div:nth-of-type(2) {
    font-weight: normal;
    width: 80%;
    color: rgb(97, 97, 97);
}


form input, form select {
    width: 15rem;
    height: 3rem;
    border-radius: 0.3rem;
    padding-left: 10px;
    border: 1px solid black;
}

form button {
    width: 15rem;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: rgb(54, 54, 54);
    border: 1px solid black;
    color: white;
}

.feature {
    margin: 2rem 2rem;
    padding: 1rem;
}

.feature .title-2 {
    padding: 3rem 0;
    background-color: #EDF0F4;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.feature .title-2 {
 text-align: center;
}

.highlight {
    flex-wrap: wrap;
    justify-content: space-around;
}

.top {
    border-bottom: 3px solid rgb(97, 97, 97);
}

.highlight div {
    margin: 1.5rem 0;
}

.closing {
    margin: 2rem;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid black;
}

.closing div {
    max-width: 50%;
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.closing button {
    width: 15rem;
    height: 3rem;
    background-color: #29323D;
    color: white;
    border-radius: 0.3rem;
}


@media (max-width:900px) {
    .home {
        flex-direction: column;
        align-items: center;
    }
    .home div{
        margin-top: 1rem;
    }
}